.button-component {
    border: 1px solid #ff0000;
    margin: 0.6rem;
    padding: 0.4rem;
    /* Se mantiene la última asignación */
    width: 90%;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    touch-action: manipulation;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    user-select: none;
    /* Evita la selección de texto */
    -webkit-user-select: none;
    /* Para navegadores WebKit */
    -moz-user-select: none;
    /* Para Firefox */
    -ms-user-select: none;
    /* Para Internet Explorer/Edge */
}

.button-component:active {
    transform: scale(0.95);
    opacity: 0.7;
}